:root {
    --main-bg-color: #634C45;
    --title-bar-color: #3a526C;
    --title-text-color: #f2e3c3;
    --nav-bg-color: #3e3101;
    --main-containter-bg-color: #d8c3af;
    --main-text-color: #634c45;
}

/* || HTML / Body Styling */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: var(--main-bg-color);
    background-size: cover;
    min-height: 100%;
}

/* || Title Bar Styling */

.site-bar {
    background-color: var(--title-bar-color);
    width: 100%;
    height: 8%;
}

.title-container {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar-toggle, .alignment-div {
    width: 10%;
    height: 100%;
}

.navbar-toggle {
    background-color: var(--title-bar-color);
    display: flex;
}

.hamburger {
    background-color: var(--title-text-color);
    width: 20px;
    height: 2px;
    margin: 5px auto;
}

.title-container > header {
    text-align: center;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: var(--title-text-color);
}

/* || Navbar Styling */

nav {
    display: none;
}

.navbar {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.navbar > li {
    width: 100%;
    height: 3rem;
    padding: 0 2.5%;
    list-style: none;
    background-color: var(--nav-bg-color);
    text-align: left;
    display: flex;
    justify-content: left;
    border: .1rem solid var(--title-text-color);
}

/* || Link Styling */

a {
    width: 100%;
    margin: auto;
    color: white;
    background-color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover {
    text-decoration: underline;
}

/* || Main container styling */

.container {
    margin: 0 auto 5%;
    padding: 2%;
    border: solid black 1px;
    width: 100%;
    max-width: 1024px;
    min-height: 85%;
    text-align: left;
    background-color: var(--main-containter-bg-color);
    color: var(--main-text-color);
    
}

.container > p {
    margin: 5% 0;
    line-height: 2;
    font-size: 1.5rem;
}

/* || Footer Styling */

footer {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 2%;
}

footer > ul > a {
    margin: 0 2rem;
}

/* || Product Styling */

.product-container {
    display: flex;
    font-size: 3rem;
    text-align: left;
    grid-gap: .5rem;
    border: solid var(--title-text-color) .1rem;
}

.product-img {
    width: 50%;
    height: 15rem;
    grid-column: 1 / 4;
}

.description-pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}

.pricing-container {
    font-size: inherit;
}

/* || Utility Styling */

.in-text-link {
    color: brown;
}

.pricing-text {
    color: red;
    font-weight: bolder;
}

.center-align {
    text-align: center;
}

.no-padding {
    padding: 0;
}
/*tablet size */
@media only screen and (min-width: 768px){
    nav {
        display: flex;
    }

    .navbar {
        width: 80%;
        margin: auto;
        flex-direction: row;
    }

    .navbar > li {
        height: 4rem;
        text-align: center;
    }

    .navbar-toggle {
        visibility: hidden;
    }

    .container {
        width: 80%;
    }

    .product-img {
        width: 30%;
    }

    .description-pricing-container {
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {

    .navbar {
        width: 75%;
        margin: auto;
    }

    .container {
        width: 75%;
    }

    footer {
        margin-bottom: 1%;
    }
}