:root {
    --main-bg-color: #634C45;
    --title-bar-color: #3a526C;
    --title-text-color: #f2e3c3;
    --nav-bg-color: #3e3101;
    --main-containter-bg-color: #d8c3af;
    --main-text-color: #634c45;
}

/* Main styling */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    font-size: 62.5%;
}

body {
    background: var(--main-bg-color);
    background-size: cover;
}

html, body {
    width: 100%;
    height: 10%;
    min-height: 100%;
}

.in-text-link {
    color: brown;
}

.site-bar {
    background-color: var(--title-bar-color);
    width: 100%;
    height: 8%;
}

.title-container {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar-toggle, .alignment-div {
    width: 10%;
    height: 100%;
}

.navbar-toggle {
    background-color: var(--title-bar-color);
    display: flex;
}

.hamburger {
    background-color: var(--title-text-color);
    width: 20px;
    height: 2px;
    margin: 5px auto;
}

.title-container > header {
    text-align: center;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    color: var(--title-text-color);
}

nav {
    display: none;
}

.navbar {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: 1rem;
}

.navbar > li {
    width: 100%;
    height: 3rem;
    padding: 0 2.5%;
    list-style: none;
    background-color: var(--nav-bg-color);
    text-align: left;
    display: flex;
    justify-content: center;
    border: .1rem gray solid;
}

a {
    width: 100%;
    margin: auto;
    color: white;
    background-color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: 0 auto 5%;
    padding: 5% 5% 5%;
    border: solid black 1px;
    width: 100%;
    max-width: 1024px;
    text-align: center;
    background-color: var(--main-containter-bg-color);
    color: var(--main-text-color);
    
}

.container > p {
    margin: 5% 0;
    line-height: 2;
    font-size: 1.5rem;
}

footer {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 2%;
}

footer > ul > a {
    margin: 0 2rem;
}

/* Product pages styling*/

/* .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
} */

/* .product-img, .product-description {
    width: 95%;
    height: 20rem;
    border: .2rem solid white;
}

.product-description {
    padding: 1rem 2rem;
    font-size: 1.5rem;
} */

.product-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    font-size: 2rem;
    text-align: left;
    background-color: var(--title-text-color);
    grid-gap: .5rem;
    border: solid var(--title-text-color) .5rem;
}

.product-img {
    width: 100%;
    height: 25rem;
    grid-column: 1 / 4;
}

.product-description {
    padding: 3%;
    background-color: var(--main-containter-bg-color);
    grid-column: 1 / 3;
}

.product-pricing {
    background-color: var(--main-containter-bg-color);
    grid-column: 3;
}

/*tablet size */
@media only screen and (min-width: 768px){
    nav {
        display: flex;
    }

    .navbar {
        width: 80%;
        margin: auto;
        flex-direction: row;
    }

    .navbar > li {
        height: 4rem;
        text-align: center;
    }

    .navbar-toggle {
        visibility: hidden;
    }

    .container {
        width: 80%;
    }

    .product-container {
        grid-template-columns: 2fr 5fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .product-img, .product-description {
        width: 100%;
        height: 12rem;
    }
    
    .product-img {
        grid-column: 1;
    }
    
    .product-description {
        grid-column: 2;
        padding: 3%;
        background-color: var(--main-containter-bg-color);
    }
    
    .product-pricing {
        grid-column: 3;
        background-color: var(--main-containter-bg-color);
    }
}

@media only screen and (min-width: 1024px) {

    .navbar {
        width: 75%;
        margin: auto;
    }

    .container {
        width: 75%;
    }

    footer {
        margin-bottom: 1%;
    }
}